@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #4B00F5, #9B00F5, #EB00F5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0001229f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0005F5;
    text-align: center;
    text-shadow: 1px 1px 2px #00034ec2;
}

h2 {
    color: #F50074
}

p {
    text-align: justify;
}